// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$primary: #F66502;
$hover: #f78233;
$secondary: #939599;
$secondary-light: #c2c4c7;
$card: #d4d2d2;
$card-hover: #dfdfdf;
$card-content: #c0c0c0;
