<% reservation ||= Reservation.new %>

<div class="new-resa">
  <%= form_with(model: [@offer, reservation]) do |f| %>
    <%= f.text_area :comment, placeholder: "Your comment...", class: "text-input" %>
    <%= f.submit value: "Make a reservation!", class: "btn_form submit" %>
  <% end %>
</div>
