<div class="magic_search">
  <form action="/search" method="GET" class="magic_search-form">
      <div class="magic_search-c">
      <button type="submit" name="category" value="category1">Influencer</button>
      <button type="submit" name="category" value="category2">Actor / Actress</button>
      <button type="submit" name="category" value="category3">Sport</button>
      <button type="submit" name="category" value="category4">Music</button>
      <button type="submit" name="category" value="category5">Other</button>
    </div>
  </form>
</div>
