<div class="homepage-container">

<div class="banner">
  <%= image_tag "oscar_selfie.webp", alt: "Banner Image" %>
  <h2 class="banner-title">What are you doing this weekend</h2>
</div>

<div id="random-idea">
  <span class="sentences" data-controller="typed"
  data-typed-sentences-value="<%= ["Maybe... A baseball with Paul Goldschmidt ?", "Maybe.. A dinner with Leonardo DiCaprio ?",
  "Maybe.. A cooking class with Gordon Ramsay ?", "Maybe.. Organise a golf tournament with Tiger Woods ?", "Maybe.. Learn graffiti art in a art workshop with Banksy ?",
  "Maybe.. A yoga retreat with Gwyneth Paltrow ?", "Maybe.. A private concert with Adele ?", "Maybe.. A fashion workshop with Karl Lagerfeld ?",
  "Maybe.. A surfing expedition with Kelly Slater ?", "Maybe.. An exclusive film screening with Steven Spielberg ?", "Or maybe.. A wine tasting with Robert Mondavi Jr ?"].to_json %>">
  </span>
</div>

<div class="browse-offers">
<%= link_to "Browse our offers", offers_path, class: "add" %>
</div>
