<div class= "container-profil">
  <h1>Mon profil</h1>
  <div class= "card-profil">
    <div class= "card-style_profil">
      <p class= "name_profil"> John </p>
      <ul>
        <li> Offer's number : 8 </li>
        <br><br><li> Reservation's number : 15</li>
        <br><br><li> Avis : 14 </li>
      </ul>
    </div>
  </div>
</div>
