<ul>
  <% @reservations.each do |reservation| %>
    <li><h3><%= reservation.id %></h3>
    <p><br><%= reservation.comment %></p>
    <%= link_to "delete this reservation",
    reservations_path(@reservation),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
    %></li>
  <% end %>
</ul>
