<div class="reservation">
  <% if @reservations.present? %>
    <% @reservations.each do |reservation| %>
      <h1><%= reservation.offer.title %></h1>
      <div class="reservation">
        <%= reservation.comment %>
      </div>
      <div class="reservation">
        <%= reservation.offer.date %><span> : </span>
        <% if reservation.accepted? %>
        Accepted
        <% else %>
        Pending
        <% end %>
      </div>
        <%= link_to "Delete this reservation", reservation_path(reservation),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"add" %>
      <hr class="separator">
    <% end %>
  <% else %>
    You have no reservations yet
  <% end %>
  <% else %>
  You don't have any reservation... too bad...you ****
  <% end %>
</div>
