.bodycontent {
  width: 77vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 100px;
  h1 {
    font-size: 1.5em;
    margin-left: 13px;
  }
}

.container-profil {
  margin: 20px;
  padding: 10px;
  width: 600px;
  height: 300px;
  background-color: white;
  text-align: center;
}

.card-profil{
  margin: 20px;
  font-weight: bold;
  width: 500px;
  height: 200px;
  display:flex;
  justify-content:center;
}

.card-style_profil{
  width: 500px;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name_profil {
font-size: larger;
font-weight: bold;
text-align: center;
}
