a.add,
a.reserve,
a.edit,
a.delete {
  text-decoration: none;
  display: inline-block;
  padding: 5px 20px;
  color: white;
  margin-top: 15px;
  border-radius: 5px;
  transition: 0.1s;
  background-color: $primary;
  // margin-right: 420px;
}

a.add,
a.edit {
  background-color: $primary;

  &:hover {
    background-color: $hover;
  }
}

a.reserve {
  background-color: $primary;

  &:hover {
    background-color: $hover;
  }
}

a.delete {
  background-color: $primary;

  &:hover {
    background-color: $hover;
  }
}

.btn_form {
  text-decoration: none;
  display: inline-block;
  padding: 5px 20px;
  color: white;
  margin-top: 15px;
  border: 0px;
  border-radius: 5px;
  transition: 0.1s;
  background-color: $primary;

  &:hover {
    background-color: $hover;
  }
}

// .btn_photo {
//   background-color: $blue ;
// }
