a.add, a.reserve, a.edit, a.delete {
  text-decoration: none;
  display: inline-block;
  padding: 5px 20px;
  color: white;
  margin-top: 15px;
  border-radius: 5px;
  transition: 0.1s;
  background-color: #F66502;
}

a.add, a.edit {
  background-color: #F66502;
  &:hover {
    background-color: #f78233;
  }
}

a.reserve {
  background-color: #134fa8;
  &:hover {
    background-color: #396fbf;
  }
}

a.delete {
  background-color: #d50400;
  &:hover {
    background-color: #e73b38;
  }
}
