.footer {
  background-color: rgba(147, 149, 153, 0.5);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #939599;
  a {
    color: #939599;
    text-decoration: none;
    transition: 0.1s;
    &:hover {
      color: #F66502;
    }
  }

  i {
    margin: 0 5px;
    transition: 0.3s;

  }

  i.crown:hover {
    color: #F66502;
  }
}
