.homepage-container {
  text-align: center;
}

.banner img {
  height: 350px;
  margin: 55px 0;
} h2 {
  color: $primary;
}

.random-idea {
  margin-top: 50px;
} .sentences {
  color: $primary;
  font-size: 22px;
}

.browse-offers {
  margin-top: 50px;
}

.offers-index {
  margin-top: 50px;
}
