.homepage-container {
text-align: center;
}

.banner img {
  height: 350px;
  margin-bottom: 25px;
}

.typed-container {
  margin-top: 50px;
} h2 {
  color: $primary;
} .sentences {
  color: $primary;
  font-size: 20px;
}

.browse-offers {
  margin-top: 25px;
  font-size: 35px;
}

.offers-index {
  margin-top: 50px;
}
