.navbar-container {
  background-color: $secondary;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
} .navbar-display {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 77vw;
  margin: 0 auto;
} .logo {
  height: 40px;
  transform: scale(1.5);
  margin-right: 25px;
} .avatar {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  margin-right: 25px;
} .nav-items {
margin: 0 5px;
display: flex;
justify-content: space-between;
align-items: center;
} .fa-plus {
  padding-right: 5px;
}
.nav-button {
  text-decoration: none;
  display: inline-block;
  padding: 5px 20px;
  color: white;
  border-radius: 5px;
  transition: 0.1s;
  background-color: $primary;
  &:hover {
  background-color: $hover;
  }
} .new {
  margin-right: 25px;
} .off {
  margin-right: 25px;
}.resa {
  margin-right: 25px;
}
.btn-primary {

}
.logout-btn {
  padding: 4px 15px;
  background-color: rgb(56, 53, 53);
  border-radius: 5px;
  font-size: 14px;
  color: grey;
  text-decoration: none;
  &:hover {
  background-color: lightgrey;
  color: white;
  }
} .fa-xmark {
  padding-right: 5px;
  vertical-align: middle;
}



// .nav-item .add {
//   margin-top: -15px;
// } .add{
//   margin-right: 225px;
// }

// -- Seach form --

// .input-container {
//   position: relative;
//   width: 100%;
// }

// .search-form {
//   display: flex;
//   align-items: center;
//   flex-grow: 1;
//   justify-content: center;
//   margin-left: 50px;
// }

// .search-input {
//   padding: 8px;
//   border: none;
//   width: 42vh;
//   border-radius: 20px;
//   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
//   &:focus {
//     border: 1px solid $primary;
//     outline: none;
//     box-shadow: 0 0 10px $hover;
//   }
// }

// .search-input::placeholder {
//   font-size: 12px;
// }

// .fa-magnifying-glass {
//   border: none;
//   cursor: pointer;
//   background: none;
//   color: $primary;
//   position: absolute;
//   right: 5px;
//   top: 18px;
//   &:hover {
//     color: $hover;
//   }
// }


// -- Notifications --

// .nav-item .fa-bell {
//   padding: 0 0 42px 8px;
//   text-decoration: none;
//   color: $primary;
//   position: relative;
//   &:hover {
//     color: $hover;
//   }
// }

// .notification-badge {
//   background-color: red;
//   color: white;
//   border-radius: 50%;
//   border-color: white;
//   padding: 0 3px 0 3px;
//   font-size: 8px;
//   position: absolute;
//   top: -4px;
//   right: -4px;
// }
