.offers {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  flex-wrap: wrap;

  a.offer {
    display: inline-block;
    background-color: #F4F4F4;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    color: rgb(40, 40, 40);
    transition: .1s;
    flex-grow: 1;
    margin: 0;
    max-width: 250px;

    &:hover {
      background-color: #dfdfdf;
    }

    h1 {
      font-size: 1.2em;
      font-weight: bold;
      margin: 0;
    }
  }
}

.offer_price {
  text-align: right;
  background-color: #c0c0c0;
  color: white;
  padding: 0 3px;
  border-radius: 5px;
  width: fit-content;
  align-self: flex-end;
}
