.offers-index {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;

  a.offer-index {
    display: inline-block;
    background-color: white;
    padding: 0;
    text-decoration: none;
    color: rgb(40, 40, 40);
    transition: .1s;
    flex-grow: 1;
    margin: 0;
    max-width: 300px;
    max-height: 420px;
    border-radius: 20px;
    text-align: center;
    box-shadow:  0px 4px 5px rgba(0, 0, 0, 0.05);
    &:hover {
      background-color: lin$card-hover;

      .photo-index {
        opacity: 0.7;
      }
    }

    .photo-index {
      width: 300px;
      height: 300px;
      border-radius: 20px 20px 0 0;
      object-fit: cover;
      margin: 0;
      transition: 0.2s;
    }

    h1 {
      font-family: 'Inter', sans-serif;
      font-size: 1.2em;
      font-weight: 500;
      margin: 12px 0 2px 0;
      color: black;
    }

    .offer-price-index {
      font-family: 'Inter', sans-serif;
      margin: 0 0 10px 0;
      padding: 0;
      font-size: 1.4em;
      font-weight: 700;
    }
  }
}
