.offers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;

  a.offer {
    display: inline-block;
    background-color: $card;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    color: rgb(40, 40, 40);
    transition: .1s;
    flex-grow: 1;
    margin: 0;
    width: 290px;
    height: 430px;

    &:hover {
      background-color: $card-hover;
    }

    h1 {
      font-size: 1.2em;
      font-weight: bold;
      margin: 0;
    }
  }
}

.offer_price {
  margin: 0 auto;
  font-size: 1.3em;
  text-align: right;
  background-color: $card-content;
  padding: 0 3px;
  border-radius: 5px;
  width: fit-content;
  align-self: flex-end;
}

.offer {
  border-radius: 5px;
  padding: 10px 15px;
  background-color: $card;

  h1 {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
  }

  .photo {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    object-fit: cover;
    border: 1px solid $secondary-light;
  }
}

.image-wrap {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  margin: 20px 0;
}

.image-wrap img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.offer_title {
  text-align: center;
}
