.reserve-wrap {
  display: flex;
  justify-content: center;
}
.reserve-card {
  border: 1px solid #9d9d9d;
  background-color: white;
  border-radius: 0 20px 20px 0;
  width: 300px;
  padding: 20px;
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;

  h2 {
    font-size: 1em;
    font-weight: bold;
    margin: 0;
  }
  .offer_date {
    font-size: 1.3em;
  }
  .reserve_price {
    margin: 0 auto;
    font-size: 1.3em;
    background-color: $card-content;
  }
}

.photo-form {
  width: 200px;
  height: 200px;
}

.cards_reservations{
  display: flex;
}

.footer_reservation {
  display: flex;
  justify-content: space-between;
  align-items:last baseline
}

.data_reserv {
  margin: 10px;
  font-size: larger;
}

.comment_reserv{
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.card_comment {
  width: 400px;
  background-color: $secondary;

}

.footer_status {
 color: $primary;
 font-weight: bold;
}
