.reserve-wrap {
  display: flex;
  justify-content: center;
}
.reserve-card {
  border: 1px solid #9d9d9d;
  background-color: white;
  border-radius: 0 20px 20px 0;
  width: 300px;
  padding: 20px;
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;

  h2 {
    font-size: 1em;
    font-weight: bold;
    margin: 0;
  }
  .offer_date {
    font-size: 1.3em;
  }
  .reserve_price {
    margin: 0 auto;
    font-size: 1.3em;
    background-color: $card-content;
  }
}

.photo-form {
  width: 200px;
  height: 200px;
}

.cards_reservations{
  display: flex;
}


.data_reserv {
  margin: 10px;
  font-size: larger;
}

.comment_reserv{
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.card_comment {
  width: 400px;
  background-color: $secondary-light;

}

.footer_status {
  color: $primary;
}

.global-container {
  margin: 50px 0;
}

.footer_accepted {
  color: rgb(0, 164, 0);
}

.response {
  width: 400px;
  height: 100px;
  font-size: larger;
  font-weight: bold;
  background-color: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resa-card {
  border-radius: 20px;
  display: flex;
  margin-bottom: 20px;
  background-color: white;
  overflow: hidden;
  width: 600px;
  box-shadow:  0px 4px 5px rgba(0, 0, 0, 0.05);

  .resa-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;

    h1 {
      margin: 0 0 4px 0;
      font-family: 'Inter', sans-serif;
      font-weight: normal;
      font-size: 1.2em;
    }

    .resa-price, .resa-date {
      display: inline-block;
      font-family: 'Inter', sans-serif;
      font-weight: bold;
      font-size: 1.4em;
    }

    .resa-date {
      margin: 0 0 3px 7px;
      color: #aaaaaa;
      font-size: 1.2em;
    }
    .resa-comment {

      flex-grow: 1;
    }
  }

  .footer_reservation {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    p {
      margin: 0;
      font-size: 1.2em;
      font-weight: bold;
      font-family: 'Inter', sans-serif;
    }

    a {
      margin-top: 0;
    }
  }
}

.resa-accept {
  border: 3px solid rgb(0, 164, 0);
}
