.reservations {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  flex-wrap: wrap;

  .reservation {
    display: inline-block;
    background-color: $card;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    color: rgb(40, 40, 40);
    transition: .1s;
    flex-grow: 1;
    margin: 0;
    max-width: 250px;
    h1 {
      font-size: 1.2em;
      font-weight: bold;
      margin: 0;
    }
  }
}
