.magic_search {
  position: fixed;
  top: 75px;
  /* Adjust this value to position the search bar below the navbar */
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  // background: #f0f0f0;
  padding: 5px 10px;
  z-index: 999;
  /* Ensure the search bar is above other elements */
}

.magic_search-form {
  display: flex;
  align-items: center;
  // background: white;
  border-radius: 20px;
  padding: 5px;
}
